body {
    background-color: aqua;
}

.todoList {
    width: 400px;
    margin: auto;
    background-color: aliceblue;
    padding-bottom: 40px;
}

.titleList {
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
}

.inputBox {
    width: 80%;
    margin: auto;
    padding: 0px;
    border: solid 2px black;
    display: flex;
    align-content: stretch;
}

input {
    font-size: 20px;
    flex-grow: 1;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-content: stretch;
    
}

.text {
    flex-grow: 5;
}