body {
    background-color: aquamarine
}

img {
    width: 26px;
    height: 26px;
    padding: 2px;
}

img:hover {
    opacity: 50%;
}
/* whole list box */
.todoList {
    width: 400px;
    margin: auto;
    background-color: aliceblue;
    padding-bottom: 40px;
}

.titleList {
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;;    
    font-family: 'Montserrat', sans-serif;
}
/* input box items */
.inputBox {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    padding: 0px;
    border: solid 3px black;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;
    font-family: 'Mukta', sans-serif;
}

input {
    font-size: 25px;
    flex-grow: 4;
    border: none;
}

#buttonAdd {
    font-family: 'Mukta', sans-serif;
    color: white;
    font-size: 25px;
    padding: 2px;
    padding-left: 4px;
    background-color: purple;

}
/* list of items */
ul {
    list-style-type: none;
    padding: 0px;
    margin: auto;
    width: 80%;
    font-family: 'Mukta', sans-serif;
}
/* individual items */
li {
    margin-bottom: 10px;
}

.text {
    display: flex;
    align-content: stretch;
    align-items: center;
}

span.todoListItem {
    flex-grow: 5;    
    font-size: 25px;
}